h1{
    /*color: aqua;*/
}

.main-video
{
    border: #000000 solid 2px;
    padding: 5px;
}

.main-video + .main-video-controls
{
    border: #000000 solid 2px;
}

.main-video, .main-video + .main-video-controls
{
    width: 100%
}

.main-video-controls .main-video-controls-locationSlider input{
    width: auto;
}

.main-video-controls button, .main-video-controls select{
    color: #FF0000;
    background: #2a2a2a;
}
.main-video-controls button{
    padding: 1.5rem;
    font-size: 2rem;

    border-radius: 25px;
}

.main-video-controls select{
    padding: 1rem;
    font-size: 1.75rem;
}

.main-video-controls .main-video-controls-locationSlider{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.main-video-controls .main-video-controls-locationSlider .main-video-controls-currentTime, .main-video-controls .main-video-controls-locationSlider  .main-video-controls-maximumTime
{
    flex-grow: 1;
}
.main-video-controls .main-video-controls-locationSlider .main-video-controls-locationSlider-input
{
    flex-grow: 2;
}


.main-video video{
    width: auto;
}
#main-video-controls-volumeSlider-value::after{
    content: '%';
}

